Repository kubernetes-sigs/kind, pull requests merged in 2021-09, with the labels that each got.

#2421 Block `docker exec` until systemd in the node container initializes /sys/fs/cgroup (Fix docker+cgroup2+rootless CI failure)
  pkg/cluster/internal/providers/common/provision.go
  pkg/cluster/internal/providers/docker/provision.go
  pkg/cluster/internal/providers/podman/provision.go
Labels: approved, cncf-cla: yes, lgtm, size/L, area/provider/docker, area/provider/podman

#2473 Validate: check conflicting ipfamily and pods / services subnet
  pkg/internal/apis/config/validate.go
  pkg/internal/apis/config/validate_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M, ok-to-test

#2431 adding auditing docs
  site/content/docs/contributing/1.0-roadmap.md
  site/content/docs/user/auditing.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#2478 only wait for mult-user system for cgroupsv2
  pkg/cluster/internal/providers/common/provision.go
Labels: approved, cncf-cla: yes, lgtm, size/XS
